.status-tourmix-tobesent {
    background-color: red !important;
    color: white !important;
}

.status-tourmix-shipping {
    background-color: deepskyblue !important;
    color: white !important;
}